{% extends 'main/base.html' %}

{% block content %}

     <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
{% for object in object_list %}
      <div class="col-lg-4">
              <div class="card m-2 text-center">
                      <div class="card-body">
                              {% include 'main/includes/inc_category_card.html' %}

                      </div><!-- /.card-body -->
              </div><!-- /.card m-2 text-center -->
      </div><!-- /.col-lg-4 -->
{% endfor  %}
{% endblock %}